:root {
    --blanco-marmol2: #f1f1f1;
    --dorado-elegante: #D4AF37;
    --bordo-profundo: #520017;
    --verde-jade: #006B54;
    --negro-futurista: #121212;
}
/* Estilos globales del body y html */
html, body {
    height: 100%;
}

body {
    /* Fondo elegante con textura de mármol sutil */
    background-color: beige;
    
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Lato', sans-serif;
    color: var(--negro-futurista);
}

/* Estilos del contenedor principal 'wrapper' */
.wrapper {
    min-height: 100vh;
    display: flex;
    /* Transición para un movimiento suave al abrir/cerrar el sidebar */
    transition: margin-left 0.4s ease-in-out;
}

/* Estilos del contenido principal 'content' */
#content {
    /* Padding para separar el contenido de los bordes */
    padding: 2rem !important;
    /* Ajuste para el efecto de "desplazamiento" */
    transition: margin-left 0.4s ease-in-out;
}

/* Clases de Bootstrap personalizadas para el color del texto */
.text-gold {
    color: var(--dorado-elegante) !important;
}

.text-burgundy {
    color: var(--bordo-profundo) !important;
}

.text-jade {
    color: var(--verde-jade) !important;
}

/* Estilos para los títulos principales de la página */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Lato', sans-serif;
    color: var(--negro-futurista);
}

/* Reglas generales para íconos */
.fa, .fas, .fab {
    transition: color 0.3s ease;
}
